<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
        backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="true">
  <testsuite name="Neutrino\Dotconst - Testsuite">
    <directory>./tests/</directory>
  </testsuite>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="false">
      <directory suffix=".php">./src</directory>
    </whitelist>
  </filter>
  <php>
    <env name="exist_env_var" value="bar"/>
  </php>
</phpunit>